.button {
	color: var(--body-color);
	border: 4px solid currentColor;
	background: var(--background-color);
	display: inline-block;
	padding: 0.25em 0.5em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: clamp(2rem, 13vw, 4rem);
	line-height: 1.2;

	&__count {
		display: block;
		font-size: 1rem;
		text-align: center;
		font-weight: normal;
	}

	&--small {
		font-size: 2rem;
		padding: .5em 1em;
		border-width: 2px;
	}

    &s {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
		margin-bottom: 2rem;
    }

	&-2 {
		display: inline-block;
		border-radius: 0.5rem;
		background: linear-gradient(88deg, var(--hot-light-color) -12.97%, var(--hot-dark-color) 111.07%);
		padding: 0.625rem 1rem;
		color: var(--background-color);
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
	}

	&-group {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}
}