@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans 3', sans-serif;;
	background-color: var(--background-color);
	color: var(--body-color);
	padding: 4rem 1rem;
	height: 100vh;
	background: 
		linear-gradient(180deg, var(--background-color) 28.26%, rgba(20, 6, 11, 0.00) 100%), 
		url(../assets/background.jpg);
	background-position: center;
	background-repeat: repeat;
}