.popup {
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: rgba(0,0,0,0.5);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 90vw;
        height: 95vh;
        background-color: var(--background-color);
        padding: 3rem 2rem;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
    }

    &__logo {
        aspect-ratio: 1 / 1;
        height: clamp(6rem, 10vh ,9.625rem);
        flex: 1 0 auto;
    }

    &__content {
        flex-grow: 1;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__text {
        margin-bottom: 1rem;
        font-size: clamp(0.85rem, 2.5vh, 1.25rem);
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__gif {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: contain;
    }

    &__close {
    }
}
